extends ../layouts/default

block vars
	-
		const page = {
			title: 'Model'
		};

block main
	section.graphic
		.graphic__wrapper
			.graphic__left
				.canvas
					.canvas__window
					.canvas__note
						+icon("cursor")(width="20", height="20")
						span Вращайте решетку и кликайте на атомы для выбора темы
					.canvas__image
						+icon("projector")
			.graphic__right
				.graphic__tabs
					.graphic__tab.desc.desc--4.anim-opacity(data-tab="tab-1", style="display: block")
						.desc__title
							span.desc__title-num <span>O</span>1
							span.desc__title-text(style="opacity: 1; transform: translateY(0)") Медицина
							+icon("slide-1")
						.desc__main
							.desc__item
								.desc__image
									+icon("slide-1-1")
								.desc__text(style="opacity: 1; transform: translateY(0)") Создание и тестирование лекарств
							.desc__item
								.desc__image
									+icon("slide-1-2")
								.desc__text(style="opacity: 1; transform: translateY(0)") Персонализированные лекарства
							.desc__item
								.desc__image
									+icon("slide-1-3")
								.desc__text(style="opacity: 1; transform: translateY(0)") Диагностика заболеваний на раней стадии
							.desc__item
								.desc__image
									+icon("slide-1-4")
								.desc__text(style="opacity: 1; transform: translateY(0)") Улучшенная визуализация КТ и МРТ снимков
					.graphic__tab.desc.desc--2(data-tab="tab-2")
						.desc__title
							span.desc__title-num <span>O</span>2
							span.desc__title-text Криптография
							+icon("slide-2")
						.desc__main
							.desc__item
								.desc__image
									+icon("slide-2-1")
								.desc__text Безопасная передача данных
							.desc__item
								.desc__image
									+icon("slide-2-2")
								.desc__text Попытка взлома будет обнаружена
					.graphic__tab.desc.desc--3(data-tab="tab-3")
						.desc__title
							span.desc__title-num <span>O</span>3
							span.desc__title-text Транспорт, логистика
							+icon("slide-3")
						.desc__main
							.desc__item
								.desc__image
									+icon("slide-3-1")
								.desc__text Построение оптимальных маршрутов
							.desc__item
								.desc__image
									+icon("slide-3-2")
								.desc__text Формирование логистических цепочек
							.desc__item
								.desc__image
									+icon("slide-3-3")
								.desc__text Создание графиков и смен водителей, курьеров и т.д
					.graphic__tab.desc.desc--3(data-tab="tab-4")
						.desc__title
							span.desc__title-num <span>O</span>4
							span.desc__title-text Моделирование молекул
							+icon("slide-4")
						.desc__main
							.desc__item
								.desc__image
									+icon("slide-4-1")
								.desc__text Поиск новых материалов
							.desc__item
								.desc__image
									+icon("slide-4-2")
								.desc__text Изучение поведения веществ
							.desc__item
								.desc__image
									+icon("slide-4-3")
								.desc__text Замена дорогостоящим опытам
					.graphic__tab.desc.desc--4(data-tab="tab-5")
						.desc__title
							span.desc__title-num <span>O</span>5
							span.desc__title-text Финансы
							+icon("slide-5")
						.desc__main
							.desc__item
								.desc__image
									+icon("slide-5-1")
								.desc__text Управление активами и инвестициями
							.desc__item
								.desc__image
									+icon("slide-5-2")
								.desc__text Оценка рисков
							.desc__item
								.desc__image
									+icon("slide-5-3")
								.desc__text Кредитный скоринг
							.desc__item
								.desc__image
									+icon("slide-5-4")
								.desc__text Выявление мошенничества
					.graphic__tab.desc.desc--2(data-tab="tab-6")
						.desc__title
							span.desc__title-num <span>O</span>6
							span.desc__title-text Улучшение покрытия спутников
							+icon("slide-6")
						.desc__main
							.desc__item
								.desc__image
									+icon("slide-6-1")
								.desc__text Юстировка спутников
							.desc__item
								.desc__image
									+icon("slide-6-2")
								.desc__text Лучшее покрытие для моби&shy;льной и спутниковой связи
					.graphic__tab.desc.desc--3(data-tab="tab-7")
						.desc__title
							span.desc__title-num <span>O</span>7
							span.desc__title-text Более эффективная реклама
							+icon("slide-7")
						.desc__main
							.desc__item
								.desc__image
									+icon("slide-7-1")
								.desc__text Персональные предложения
							.desc__item
								.desc__image
									+icon("slide-7-2")
								.desc__text Учет индивидуальных особенностей
							.desc__item
								.desc__image
									+icon("slide-7-3")
								.desc__text Более эффективное медиапланирование
					.graphic__tab.desc.desc--2(data-tab="tab-8")
						.desc__title
							span.desc__title-num <span>O</span>8
							span.desc__title-text Искуственный интеллект
							+icon("slide-8")
						.desc__main
							.desc__item
								.desc__image
									+icon("slide-8-1")
								.desc__text Ускоренное обучение моделей
							.desc__item
								.desc__image
									+icon("slide-8-2")
								.desc__text Более высокая точность и скорость ответов нейросетей
					.graphic__tab.desc.desc--2(data-tab="tab-9")
						.desc__title
							span.desc__title-num <span>O</span>9
							span.desc__title-text Прогноз погоды
							+icon("slide-9")
						.desc__main
							.desc__item
								.desc__image
									+icon("slide-9-1")
								.desc__text Более высокая точность
							.desc__item
								.desc__image
									+icon("slide-9-2")
								.desc__text Большая глубина прогнозов
					.graphic__tab.desc.desc--3(data-tab="tab-10")
						.desc__title
							span.desc__title-num 1<span>O</span>
							span.desc__title-text Предсказаниe пандемий
							+icon("slide-10")(width="330", height="228")
						.desc__main
							.desc__item
								.desc__image
									+icon("slide-10-1")(width="200", height="131")
								.desc__text Просчет сценариев распространения вирусов
							.desc__item
								.desc__image
									+icon("slide-10-2")(width="130", height="130")
								.desc__text Отслеживание эпидемиоло&shy;гической ситуации в мире
							.desc__item
								.desc__image
									+icon("slide-10-3")(width="130", height="130")
								.desc__text Заблаговременное преду&shy;преждение населения
		.graphic__logo
			+icon("logo")
