extends ../layouts/default

block vars
	-
		const page = {
			title: 'Model'
		};

block main
	section.graphic
		.graphic__wrapper
			.graphic__left
				.canvas
					.canvas__window
					.canvas__image
						+icon("projector")
			.graphic__right
				.graphic__tabs
					.graphic__tab.desc
						.desc__title
							span Предсказаниe пандемий
							+icon("slide-10")
						.desc__main
							.desc__item
								.desc__image
									+icon("slide-10-1")
								.desc__text Просчет сценариев распространения вирусов
							.desc__item
								.desc__image
									+icon("slide-10-2")
								.desc__text Отслеживание эпидемиологической ситуации в мире
							.desc__item
								.desc__image
									+icon("slide-10-3")
								.desc__text Заблаговременное предупреждение населения
