@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'RobotoCondensed';
	src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'SFSquareHead';
	src: url('../fonts/SFSquareHead.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'SourceSansVariable';
	src: url('../fonts/SourceSansVariable-Roman.otf') format('opentype');
	font-weight: 400;
	font-display: swap;
}
